Package: nifc-sync
Version: @VERSION@
Section: sound
Priority: optional
Architecture: amd64
Maintainer: Andrzej Borzym
Depends: libxcb-cursor0, libxkbcommon-x11-0, libgl1, libglib2.0-bin, gvfs, gvfs-backends, gnome-keyring
Description: Synchronizacja transkrypcji i skanów źródłowych NIFC
 Graficzne narzędzie do synchronizacji transkrypcji oraz skanów
 źródłowych z katalogiem roboczym.
